*/.vs/
*/.idea/*
/.vs/
/out/
/build/
/out/
/vcpkg_installed/
/cmake-build-debug-wsl/
/cmake-build-minsizerel-wsl/
/cmake-build-release-wsl/
/cmake-build-release-wsl-1/
/cmake-build-relwithdebinfo-wsl/
/.idea
/cmake-build-debug
/cmake-build-minsizerel
/cmake-build-release
/cmake-build-relwithdebinfo
